/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
	box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Your code starts here! */

body {
	width: 100%;
	height: 100%;
	padding: 0 10%;
}

header {
	padding: 20px;
	background-color: #0186EF;
	position: fixed;
	top: 0;
}

.nav li {
	display: inline-block;
	margin: 10px 30px;
}

.nav a {
	color: black;
	text-decoration: none;
}

.nav a:hover {
	color: white;
}

.logo {
	display: inline-block;
	float: right;
}

.wrapper {
	margin: auto;
	max-width: 876px;
}

.first {
	height: 450px;
	padding-top: 20px;
	margin-top: 70px;
}

.intro {
	display: inline-block;
	margin-top: 20px;
}

.intro h1{
	text-align: center;
	font-size: 64px;
}

.intro a{
	margin: 150px;
	padding: 0 50px;
	border: 1px solid black;
	color: black;
	text-decoration: none;
}

.intro a:hover {
	background-color: #56C1EC;
	border: 1px solid white;
}

.codepic {
	display: inline-block;
	float: right;
}

.above-img {
	padding: 30px 0;
	margin-bottom: 100px;
	border-top: 1px solid black;
}

.left {
	display: inline-block;
	float: left;
	text-align: left;
}

div.middle {
	display: inline-block;
	margin-left: auto;
	margin-right: auto;
	text-align: left;
}

.right {
	display: inline-block;
	float: right;
	text-align: left;
}

div.below-img {
	text-align: center;
}

.above-img p {
	width: 430px;
}

.middle-img {
	display: block;
	margin: auto;
}

.below-img {
	padding: 30px 0;
	border-bottom: 1px solid black;
}

.below-img p {
	width: 280px;
}

footer {
	padding-top: 30px;
	padding-bottom: 50px;
	text-align: center;
}

address {
	margin-bottom: 30px;
	text-align: left;
}

.linespacing {
	line-height: 3.2;
}